


<div class="abs" id="wrapper">
    <div class="abs" id="desktop">
        <DesktopIcon X=20 Y=20 Handle="B5f7NY8MB0ekvLIletfdug" Icon="icon_32_computer.png" Label="Computer" />
        <DesktopIcon X=20 Y=100 Handle="dyyTns9yxkSyouWbWBzyTw" Icon="icon_32_drive.png" Label="Hard Drive" />
        <DesktopIcon X=20 Y=180 Handle="Krldhhq5UU6cy6gdwIzk5g" Icon="icon_32_disc.png" Label="Audio CD" />
        <DesktopIcon X=20 Y=260 Handle="Uu43Ymn6M0CRkOM41zetKQ" Icon="icon_32_network.png" Label="Network" />

        <Window Handle="B5f7NY8MB0ekvLIletfdug" Icon="icon_16_computer.png" Title="My computer" X=200 Y=50>
            <Content>
                Computer content...
            </Content>
            <Statusbar>computer status bar</Statusbar>
        </Window>

        <Window Handle="dyyTns9yxkSyouWbWBzyTw" Icon="icon_16_drive.png" Title="Hard Drive" X=225 Y=75>
            <Content>
                Drive Content...
            </Content>
            <Statusbar>drive status bar</Statusbar>
        </Window>

        <Window Handle="Krldhhq5UU6cy6gdwIzk5g" Icon="icon_16_disc.png" Title="Audio CD" X=250 Y=100>
            <Content>
                Disc Content
            </Content>
            <Statusbar>disc status bar</Statusbar>
        </Window>

        <Window Handle="Uu43Ymn6M0CRkOM41zetKQ" Icon="icon_16_network.png" Title="Network" X=275 Y=125>
            <Content>
                Network Content
            </Content>
            <Statusbar>network status bar</Statusbar>
        </Window>

    </div>
</div>

<StartBar>
    <StartBarItems>
        <StartBarItem Handle="B5f7NY8MB0ekvLIletfdug" Icon="icon_22_computer.png" Label="Computer"></StartBarItem>
        <StartBarItem Handle="dyyTns9yxkSyouWbWBzyTw" Icon="icon_22_drive.png" Label="Drive"></StartBarItem>
        <StartBarItem Handle="Krldhhq5UU6cy6gdwIzk5g" Icon="icon_22_disc.png" Label="Disc"></StartBarItem>
        <StartBarItem Handle="Uu43Ymn6M0CRkOM41zetKQ" Icon="icon_22_network.png" Label="Network"></StartBarItem>
    </StartBarItems>
</StartBar>