<div class="abs" id="bar_top">
    <span class="float_right" id="clock"></span>
    <ul>
        <li>
            <a class="menu_trigger" href="#">jQuery Desktop</a>
            <ul class="menu">
                <li>
                    <a href="http://www.amazon.com/dp/0596159773?tag=sons-20">jQuery Cookbook</a>
                </li>
                <li>
                    <a href="http://jqueryenlightenment.com/">jQuery Enlightenment</a>
                </li>
                <li>
                    <a href="http://jquery.com/">jQuery Home</a>
                </li>
                <li>
                    <a href="http://jquerymobile.com/">jQuery Mobile</a>
                </li>
                <li>
                    <a href="http://jqueryui.com/">jQuery UI</a>
                </li>
                <li>
                    <a href="http://learningjquery.com/">Learning jQuery</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="menu_trigger" href="#">HTML5 Resources</a>
            <ul class="menu">
                <li>
                    <a href="http://diveintohtml5.info/">Dive Into HTML5</a>
                </li>
                <li>
                    <a href="http://www.alistapart.com/articles/get-ready-for-html-5/">Get Ready for HTML5</a>
                </li>
                <li>
                    <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>
                </li>
                <li>
                    <a href="http://html5doctor.com/">HTML5 Doctor</a>
                </li>
                <li>
                    <a href="http://html5.org/">HTML5 Intro</a>
                </li>
                <li>
                    <a href="http://www.zeldman.com/superfriends/">HTML5 Super Friends</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="menu_trigger" href="#">Code</a>
            <ul class="menu">
                <li>
                    <a href="assets/css/desktop.css">Desktop - CSS</a>
                </li>
                <li>
                    <a href="assets/js/jquery.desktop.js">Desktop - JavaScript</a>
                </li>
                <li>
                    <a href="http://github.com/nathansmith/jQuery-Desktop">GitHub Repository</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="menu_trigger" href="#">Credits</a>
            <ul class="menu">
                <li>
                    <a href="http://sonspring.com/journal/jquery-desktop">Demo built by Nathan Smith</a>
                </li>
                <li>
                    <a href="http://twitter.com/adrianrodriguez/">Wallpaper by Adrian Rodriguez</a>
                </li>
                <li>
                    <a href="http://tango.freedesktop.org/Tango_Desktop_Project">Icons - Tango Desktop Project</a>
                </li>
            </ul>
        </li>
    </ul>
</div>